<head><script type="text/javascript" src="https://js.stripe.com/v2/"></script></head>
<script type="text/javascript">
  // This identifies your website in the createToken call below
  Stripe.setPublishableKey('sk_test_LIeCBTv3nCs4I35yzMthkk5f');
  // ...
</script>
<div class="row">
  <div class="span6 columns">
    <fieldset>
      <%= form_for(@user) do |f| %>
        <% if @user.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

            <ul>
            <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="clearfix">
          <%= f.label :name %>
          <div class="input">
            <%= f.text_field :name %>
          </div>
        </div>

        <div class="clearfix">
          <%= f.label :email %>
          <div class="input">
            <%= f.text_field :email, :class => "field" %>
          </div>
        </div>

        <div class="clearfix">
          <%= f.label :password %>
          <div class="input">
            <%= f.password_field :password, :class => "field" %>
            <% if defined? editing %>
              <span class="help-block">Leave blank to keep your current password</span>
            <% end %>
          </div>
        </div>

        <div class="clearfix">
          <%= f.label :password_confirmation %>
          <div class="input">
            <%= f.password_field :password_confirmation, :class => "field" %>
        </div>

          <%= f.hidden_field :stripe_token %>
        </div>

        <div class="actions">
          <%= f.submit(:class => "btn btn-success") %>
        </div>


      <% end %>
    </fieldset>
  </div>
</div>
