<head><script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  <script type="text/javascript">
  // This identifies your website in the createToken call below
  Stripe.setPublishableKey('pk_test_6pRNASCoBOKtIshFeQd4XMUh');
  // ...

  jQuery(function($) {
  $('#payment-form').submit(function(event) {
    var $form = $(this);

    // Disable the submit button to prevent repeated clicks
    $form.find('button').prop('disabled', true);

    Stripe.card.createToken($form, stripeResponseHandler);

    // Prevent the form from submitting with the default action
    return false;
  });
});

  function stripeResponseHandler(status, response) {
  var $form = $('.new-payment');

  if (response.error) {
    // Show the errors on the form
    $form.find('.payment-errors').text(response.error.message);
    $form.find('button').prop('disabled', false);
  } else {
    // response contains id and card, which contains additional card details
    var token = response.id;
    // Insert the token into the form so it gets submitted to the server
    $form.append($('<input type="hidden" name="stripeToken" />').val(token));
    // and submit
    $form.get(0).submit();
  }
};
</script>
</head>
<%= form_for ([@user, @donation]), html: {class: "new-payment"} do |f| %>
  <span class="payment-errors"></span>

  <div class="form-row">
    <div class="field">
      <%= f.label :amount %><br>
      <%= f.text_field :amount %>
    </div>
  </div>

  <div class="form-row">
    <div class="field">
      <%= label_tag :number %><br>
      <%= text_field_tag :number, nil, name: nil, :data => {:stripe => 'number' } %>
    </div>
  </div>

  <div class="form-row">
    <div class="field">
      <%= label_tag :cvc %><br>
      <%= text_field_tag :cvc, nil, name: nil, :data => {:stripe => 'cvc' } %>
    </div>
  </div>

  <div class="form-row">
    <div class="field">
      <%= label_tag :exp_month %><br>
      <%= text_field_tag :exp_month, nil, name: nil, :data => {:stripe => 'exp_month' } %>
    </div>
  </div>

  <div class="form-row">
    <div class="field">
      <%= label_tag :exp_year %><br>
      <%= text_field_tag :exp_year, nil, name: nil, :data => {:stripe => 'exp_year' } %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit(:class => "btn btn-success") %>
  </div>
<% end %>
